// Typography
$font-family-name: DFDS;
$font-family: #{$font-family-name}, Verdana, sans-serif;
$font-size: 16px;

$color-groupBlue: #002b45;
$color-textGrey: #4d4e4c;
$color-actionBlue: #68b2e3;
$color-background: #eef0f1;

$spaceTopOverview: 70px;

$backgroundImageUrl: '/static/images/ship.jpg';
$app-width: 780px;

$sidebarTransitionDuration: 300ms;
